numpy==1.26.4
av==11.0.0
onnxruntime==1.17.1
-i https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
onnxruntime_gpu==1.17.1
opencv_python_headless==4.9.0.80
